@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-image" style="background-image: url('@Url.Content("~/images/fondo.png")');">
    <div class="hero-text text-center">
        <h1 class="display-4 text-white">BIENVENIDO A DIRECT-BARBER</h1>
        <p class="text-white">Aplicativo web para conectar barberos independientes con clientes y gestionar citas fácilmente.</p>
    </div>
</div>
